

#email_id{
    text-align: right;
    background-color: #1B1A17;
    color: blanchedalmond;
    margin: 0em;
    position: relative;
    bottom: 1.3rem;
}

#toolbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #FF8303;
    position: relative;
    bottom: 2rem;

}
.toolbar_elements{
    padding-right: 2rem;
    margin-top: 1.0em;
    margin-bottom: 0em;

}

#logo{
    height: 100px;
    width: 100px;
    position: relative;
    right: 0rem ;
    border-radius: 50%;
}