{% extends "base.html" %}

{% block title %}
    blog
{% endblock %}

{%block css_link%}
    <link rel="stylesheet" href="../../static/blog/homepage_blog.css">
{%endblock%}

{%block content%}
    <h2>My Blogs</h2>
    <div>
        {% for post in all_posts %}
        <div style="background-color: #006b38ff; padding-left: 20px;">
            <div>
                <h2>{{post.title}}</h2>
                <h4>{{post.date}}</h4>
                <h3>{{post.excerpt}}</h3>
                <img style="height: 200px; width: auto;" src="../../../media/{{post.blog_image}}" alt="">
            </div>
    
            <div>
                
                <h3><a style="color: white; position: relative; bottom: 10px;" href="{% url 'blog_detailpage' post.slug %}">Read now</a></h3>
            </div>   
        </div>
        <br>
        <br>
        

        {% endfor %}
    </div>
{%endblock%}
