{% extends "base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block content %}
    <h2>Menu</h2>
    {% for menu_item in menu %}
        <div style="background-color: #006b38ff;">
            <h2>{{menu_item.title}}</h2>
            <img style="height: 200px; width: auto;" src="../../../media/{{menu_item.header_image}}" alt="">  
                      
            <p>
                <h3>ingredients required :</h3>
               {{menu_item.ingredients}}
            </p>
            <h2><a style="color: white; position: relative; bottom: 10px; " href="{% url 'recipe_page' menu_item.slug %}">View Recipe</a></h2>
        </div>
    {% endfor %}
{% endblock %}

